[project]
	description = Tiny provisioning tool for container initialization
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ValShatravenko
[access "refs/for/refs/*"]
	read = group user/ValShatravenko
	push = group user/ValShatravenko
	label-Code-Review = -2..+2 group user/ValShatravenko
	label-Verified = -1..+1 group user/ValShatravenko
	rebase = group user/ValShatravenko
	removeReviewer = group user/ValShatravenko
	submit = group user/ValShatravenko
[access "refs/heads/*"]
	read = group user/ValShatravenko
	create = group user/ValShatravenko
	push = +force group user/ValShatravenko
	pushMerge = group user/ValShatravenko
[access "refs/tags/*"]
	push = group user/ValShatravenko
	push = +force group user/ValShatravenko
